{% extends 'master.twig' %}

{% block pageContent %}
<h2 class="above-card">{{ restaurant.name }}</h2>
<div class="overview">
	<div class="container clearfix">
		<div class="restaurant">
			<div class="tables">
				{% for table in tables %}
					<div class="table" data-id="{{ table.id }}">
						<div class="img"></div>
						<span class="seats">{{ table.seats }}</span>
					</div>
				{% endfor %}
			</div>
			<form id="reserveForm" action="{{ PHP_SELF }}" method="post">
				{% for table in tables %}
					<input type="checkbox" name="check[]" value="{{ table.id }}" id="check-{{ table.id }}" />
				{% endfor %}
				<input type="hidden" name="shift" value="{{ shift }}" />
				<input type="hidden" name="date" value="{{ date }}" />
				<input type="hidden" name="id" value="{{ restaurant.id }}" />
				<input type="hidden" name="moduleAction" value="book" />
			</form>
			<a href="#" class="book" id="submitForm">Reserveer</a>
			<div class="details">
				<p class="description">{{ description }}</p>
			</div>
			<div class="map">
				<iframe
				width="1200"
				height="400"
				frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAmOlPNkP3oLJAhaYk4bnoRLIxnwRuE2hs&q={{ restaurant.location|url_encode }}" allowfullscreen>
			</iframe>
			</div>

		</div>
	</div>
</div>


{% endblock %}
